*-systems.*
*~
*.eps
*.aux
*.glo
*.idx
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.log
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
